@import '../../styles/variables.scss';

.calendar {
  margin-top: 30px;
  &.dark {
    .date {
      .dateYear,
      .dateMonth {
        color: $white;
        text-shadow: $textShadowWhite;
      }
    }
  }
  .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .dateYear {
      text-shadow: $textShadowBlack;
      font-size: 30px;
    }
    & .dateMonth {
      text-shadow: $textShadowBlack;
      font-size: 30px;
      margin-top: 13px;
      margin-bottom: 18px;
    }
  }
  .calendarDays {
    display: grid;
    gap: 15px 12px;
    grid-template: repeat(5, 1fr) / repeat(7, 1fr);
    & button {
      text-shadow: $textShadowWhite;
      text-align: center;
      user-select: none;
      background: $black;
      color: $white;
      font-weight: bold;
      font-size: 35px;
      padding: 15px 9px 9px 9px;
      border-top-left-radius: 33%;
      border-top-right-radius: 33%;
      border-bottom-left-radius: 10%;
      border-bottom-right-radius: 10%;
    }
    & .active {
      background: $activeDayColor;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
      border-top-left-radius: 35%;
      border-top-right-radius: 35%;
      transform: scale(1.15);
    }
    .notEmpty {
      background: rgb(80, 21, 21);
    }
  }
}

.btnHandlers {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  & button {
    padding: 9px 14px;
    color: $white;
    border-radius: 6px;
    font-size: 24px;
    background: $black;
  }
}
