@import '../../../styles/variables.scss';

$RightBarWidth: 37vw;
$RightBarMediumWidth: 32vw;
$RightBarSmallWidth: 100vw;

.rightBar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background: $black;
  width: $RightBarWidth;
  transform: translateX($RightBarWidth);
  transition: transform .7s ease-out;
}


.rightBarActive {
  transform: translateX(0);
}

@media (max-width: 1300px) {
  .rightBar {
    width: $RightBarMediumWidth;
    transform: translateX($RightBarMediumWidth);
  }
  .rightBarActive {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .rightBar {
    width: $RightBarSmallWidth;
    transform: translateX($RightBarSmallWidth);
  }
  .rightBarActive {
    transform: translateX(0);
  }
}

.activeDate {
  box-shadow: 0 7px 5px rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 30px;
  & button {
    outline: 0;
    padding: 0;
    font-size: 35px;
    user-select: none;
    color: $white;
  }
  & div {
    color: $white;
  }
}