@import '../../styles/variables.scss';

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 10vh;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 7px 5px rgba(0, 0, 0, 0.3);
  & nav {
    display: flex;
    column-gap: 13px;
    & a {
      color: $black;
      text-decoration: none;
      font-size: 22px;
      font-weight: bold;
      text-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);
    }
    & a.active {
      position: relative;
      &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 15%;
        right: 15%;
        background: $black;
        height: 2px;
        box-shadow: 3px 0 3px black;
        transition: width .45s ease-in;
      }
    }
  }
}
